@media screen and (max-width: 900px) {
    .container {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .card {
        margin: 10% 10%;
        display: flex;
        flex-direction: column;
        max-width: 90%;
        align-items: stretch;
        justify-content: center;
    }
    .card-img-part {
        order: 1;
        border-radius: 0.5rem 0.5rem 0 0;
    }
    .pink {
        border-radius: 0.5rem 0.5rem 0 0;
    }

    .img-desktop {
        display: none;
    }
    .img-mobile {
        display: block;
        width: 100%;
    }
    .card-text-part {
        order: 2;
        h1 {
            font-size: 1.825rem;
            text-align: center;
            line-height: 1.25;
            margin-bottom: 1rem;
            width: 100%;
        }
        .text {
            text-align: center;
            width: 100%;
        }
        .stats {
            margin-top: 1.5rem;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .stat-block {
            display: flex;
            flex-direction: column;
            margin: 1.25rem;
            align-items: center;
        }
        .stat-num {
            font-size: 1.5rem;
        }
    }
}
